.container {
    display: inline-block;
    width: 100%;
}

.bg-blue {
    background-color: rgb(81, 81, 231);
}

/*************************************
* HERO
**************************************/
.hero {
    display: inline-block;
    width: 600px;
    margin: 30px calc( (100% - 600px) / 2 );
    background-color: yellow;
}


/*************************************
* MAIN CONTENT
**************************************/
.content {
    display: inline-block;
    width: 1100px;
    margin: 30px calc( (100% - 1100px) / 2 );
    
}
    .content > .left {
        display: inline-block;
        width: 50%;
        float: left;
    }
    .content > .right {
        display: inline-block;
        width: 40%;
        float: right;
    }

    .content h3 {
        display: inline-block;
        width: 100%;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    .content p {
        display: inline-block;
        width: 100%;
        margin-bottom: 30px;
        font-size: 16px;
        line-height: 22px;
    }
        .content p > a {
            color: rgb(253, 13, 125);
            text-decoration: none;
        }




/*************************************
* FOOTER
**************************************/

.footer {
    display: inline-block;
    width: 1100px;
    margin: 30px calc( (100% - 1100px) / 2 );
   
}
    .footer > .socials {
        display: inline-block;
        width: 100%;
        border-bottom: solid white 1px;
    }

    .footer > .footer-content {
        display: inline-block;
        width: 600px;
        margin: 30px calc( (100% - 600px) / 2 ) 0;
        
    }
