.container {
    display: inline-block;
    width: 100%;
}

.bg-blue {
    background-color: rgb(81, 81, 231);
}

/*************************************
* HERO
**************************************/
.hero {
    display: inline-block;
    width: 600px;
    margin: 60px calc( (100% - 600px) / 2 );
    text-align: center;
}
    .container.bg-img {
        background-image: url(../img/back.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        background-attachment: fixed;
    }
    .hero > img {
        display: inline-block;
        margin-bottom: 40px;
        
    }
    .hero > h1 {
        display: inline-block;
        width: 100%;
        font-size: 80px;
        line-height: 80px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    .hero > p {
        display: inline-block;
        width: 100%;
        font-size: 23px;
        line-height: 25px;
        margin-bottom: 60px;
        color: gray;
    }
    .hero > .clock {
        display: inline-block;
        width: 100%;
        margin-bottom: 60px;
    }
    .hero > form {
        display: inline-block;
        width: 90%;
        margin: 0 5% 20px;
        
    }
    .hero > mouse {
        display: inline-block;
    }



/*************************************
* MAIN CONTENT
**************************************/
.content {
    display: inline-block;
    width: 1100px;
    margin: 30px calc( (100% - 1100px) / 2 );
    
}
    .content > .left {
        display: inline-block;
        width: 50%;
        float: left;
    }
    .content > .right {
        display: inline-block;
        width: 40%;
        float: right;
    }

    .content h3 {
        display: inline-block;
        width: 100%;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    .content p {
        display: inline-block;
        width: 100%;
        margin-bottom: 30px;
        font-size: 16px;
        line-height: 22px;
    }
        .content p > a {
            color: rgb(253, 13, 125);
            text-decoration: none;
        }




/*************************************
* FOOTER
**************************************/

.footer {
    display: inline-block;
    width: 1100px;
    margin: 30px calc( (100% - 1100px) / 2 );
    text-align: center;
   
}
    .footer > .socials {
        display: inline-block;
        width: 100%;
        border-bottom: solid white 1px;
        padding-bottom: 20px;
    }
        .footer > .socials > a {
            display: inline-block;
            width: 40px;;
            color: white;
            font-size: 20px;
            line-height: 20px;
            padding: 10px;
            text-decoration: none;
        }
        .footer > .socials > a:hover {
            background-color: white;
            color: teal;
            border-radius: 50%;
        }


    .footer > .footer-content {
        display: inline-block;
        width: 600px;
        margin: 30px calc( (100% - 600px) / 2 ) 0;
        
    }
