.mouse {
    display: inline-block;
    width: 120px;
    height: 200px;
    border: 10px solid #fff;
    border-radius: 60px;
}
    .mouse > .wheel {
        display: inline-block;
        width: 60px;
        height: 60px;
        margin-top: 30px;
        background-color: #fff;
        border-radius: 5px;
        background-image: url(../img/mouse.jpg);
        background-size: cover;
        background-position: center;

        animation-name: scroll;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-delay: 2s;
        animation-direction: alternate;
        animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    }
    .mouse > .wheel:hover {
        animation-play-state: paused;
    }

@keyframes scroll {
    0% {
        margin-top: 30px;
        background-color: rgb(255, 0, 0);
        display: inline-block;
        transform: rotate(0deg);
    }
    100% {
        margin-top: 120px;
        background-color: rgb(0, 0, 255);
        display: none;
        transform: rotate(360deg);
    }
}